.profile-table {
	display: grid;
	grid-template-columns: 312px 648px 312px;
	column-gap: 24px;
	row-gap: 24px;
	grid-template-areas:
		"overview personal-data instruction-upper"
		". account-data instruction-lower";
}
