.tags__item {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 6px;
	box-sizing: border-box;
	background-color: #e6e7eb;
	padding-right: 2px;
	padding-left: 6px;
	font-size: 18px;
	line-height: 24px;
	border-radius: 16px;
}

.tags__item:hover {
	cursor: pointer;
}
