.card-list__card-button{
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 224px;
	padding: 0;
	padding: 12px 24px;
	color: inherit;
	font: inherit;
	font-weight: 500;
	font-size: 18px;
	font-style: normal;
	line-height: 1.3;
	text-decoration: none;
	border: none;
	border-radius: 16px;
	cursor: pointer;
}

.card-list__card-button:hover{
	cursor: pointer;
}
