.menu__inner-item-text {
	padding-left: 1px;
}

.menu__inner-item_el_extra-options:checked ~ .menu__inner-item-text {
	color: #f06000;
}

.menu__inner-item_el_extra-options:checked ~ .menu__inner-item-text::before {
	color: #f06000;
	background-image: url('../../../../images/icon-inner-active.svg');
}

.menu__inner-item_el_extra-options:disabled ~ .menu__inner-item-text {
	color: #a09e9d;
}

.menu__inner-item_el_extra-options:disabled ~ .menu__inner-item-text::before {
	background-image: url('../../../../images/icon-inner-disabled.svg');
}

.menu__inner-item-text::before {
	content: '';
	display: inline-block;
	width: 24px;
	height: 24px;
	padding-right: 6px;
	vertical-align: bottom;
	background-image: url('../../../images/icon-inner.svg');
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
}
