.menu__erase {
	display: none;
	margin: 0;
	color: #212329;
	font-style: inherit;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.3;
	border: none;
	background-color: #ffffff;
}

.menu__erase:hover {
	cursor: pointer;
}
