.contant {
	display: grid;
	grid-template-columns: 312px 984px;
	gap: 24px;
}

.d1 {
	width: 312px;
	height: 400px;
	background-color: red;
	border-radius: 30px;
}

.d2 {
	width: 648px;
	height: 600px;
	background-color: red;
	border-radius: 30px;
}

.d3 {
	width: 984px;
	height: 200px;
	background-color: red;
	border-radius: 30px;
}
