.instruction {
	display: grid;
	grid-template-rows: 5fr;
	grid-template-columns: 1fr;
	align-self: start;
	row-gap: 18px;
	width: 100%;
	margin: 0;
	padding: 0;
	color: #9397a3;
	font-weight: normal;
	font-size: 18px;
	font-style: normal;
	line-height: 1.33;
}
